<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trang chủ</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"/>
</head>
<body>
    <div th:replace="fragments/header :: header"></div>
    <div class="container-fluid content">
        <section class="pt-4 pb-4">
            <div class="container">
                <div class="section-title">
                    <h2>Phim HOT</h2>
                </div>
                <div class="row mt-3">
                    <div class="col-3 card-item" th:each="hotMovie : ${hotMovies}">
                        <a class="position-relative nav-link" th:href="@{/phim/{slug}(slug=${hotMovie.slug})}">
                            <img th:src="@{'/api/images/thumbnail/' + ${hotMovie.thumbnail}}" alt="Movie Thumbnail">
                            <span class="position-absolute top-0 start-0 text-white bg-danger p-1 radius-6 fs-10" th:text="${hotMovie.type}"></span>
                        </a>
                        <h3 class="mt-3 mb-2" th:text="${hotMovie.name}"></h3>
                    </div>
                </div>
            </div>
        </section>
        <section class="pt-4 pb-4 bg-light">
            <div class="container">
                <div class="section-title d-flex justify-content-between">
                    <h2>Phim lẻ mới cập nhật</h2>
                    <a class="nav-link text-primary" href="#">Xem thêm</a>
                </div>
                <div class="row mt-3">
                    <div class="col-2 card-item">
                        <a href="#">
                            <img th:src="@{/assets/default_movie_thumbnail.webp}">
                        </a>
                        <h3 class="mt-3 mb-2">Tiêu đề phim</h3>
                    </div>
                    <div class="col-2 card-item">
                        <a href="#">
                            <img th:src="@{/assets/default_movie_thumbnail.webp}">
                        </a>
                        <h3 class="mt-3 mb-2">Tiêu đề phim</h3>
                    </div>
                    <div class="col-2 card-item">
                        <a href="#">
                            <img th:src="@{/assets/default_movie_thumbnail.webp}">
                        </a>
                        <h3 class="mt-3 mb-2">Tiêu đề phim</h3>
                    </div>
                    <div class="col-2 card-item">
                        <a href="#">
                            <img th:src="@{/assets/default_movie_thumbnail.webp}">
                        </a>
                        <h3 class="mt-3 mb-2">Tiêu đề phim</h3>
                    </div>
                    <div class="col-2 card-item">
                        <a href="#">
                            <img th:src="@{/assets/default_movie_thumbnail.webp}">
                        </a>
                        <h3 class="mt-3 mb-2">Tiêu đề phim</h3>
                    </div>
                    <div class="col-2 card-item">
                        <a href="#">
                            <img th:src="@{/assets/default_movie_thumbnail.webp}">
                        </a>
                        <h3 class="mt-3 mb-2">Tiêu đề phim</h3>
                    </div>
                </div>
            </div>
        </section>
        <section class="pt-4 pb-4">
            <div class="container">
                <div class="section-title d-flex justify-content-between">
                    <h2>Phim bộ mới cập nhật</h2>
                    <a class="nav-link text-primary" href="#">Xem thêm</a>
                </div>
                <div class="row mt-3">
                    <div class="col-2 card-item">
                        <a href="#">
                            <img th:src="@{/assets/default_movie_thumbnail.webp}">
                        </a>
                        <h3 class="mt-3 mb-2">Tiêu đề phim</h3>
                    </div>
                    <div class="col-2 card-item">
                        <a href="#">
                            <img th:src="@{/assets/default_movie_thumbnail.webp}">
                        </a>
                        <h3 class="mt-3 mb-2">Tiêu đề phim</h3>
                    </div>
                    <div class="col-2 card-item">
                        <a href="#">
                            <img th:src="@{/assets/default_movie_thumbnail.webp}">
                        </a>
                        <h3 class="mt-3 mb-2">Tiêu đề phim</h3>
                    </div>
                    <div class="col-2 card-item">
                        <a href="#">
                            <img th:src="@{/assets/default_movie_thumbnail.webp}">
                        </a>
                        <h3 class="mt-3 mb-2">Tiêu đề phim</h3>
                    </div>
                    <div class="col-2 card-item">
                        <a href="#">
                            <img th:src="@{/assets/default_movie_thumbnail.webp}">
                        </a>
                        <h3 class="mt-3 mb-2">Tiêu đề phim</h3>
                    </div>
                    <div class="col-2 card-item">
                        <a href="#">
                            <img th:src="@{/assets/default_movie_thumbnail.webp}">
                        </a>
                        <h3 class="mt-3 mb-2">Tiêu đề phim</h3>
                    </div>
                </div>
            </div>
        </section>
        <section class="pt-4 pb-4 bg-light">
            <div class="container">
                <div class="section-title d-flex justify-content-between">
                    <h2>Phim chiếu rạp mới cập nhật</h2>
                    <a class="nav-link text-primary" href="#">Xem thêm</a>
                </div>
                <div class="row mt-3">
                    <div class="col-2 card-item">
                        <a href="#">
                            <img th:src="@{/assets/default_movie_thumbnail.webp}">
                        </a>
                        <h3 class="mt-3 mb-2">Tiêu đề phim</h3>
                    </div>
                    <div class="col-2 card-item">
                        <a href="#">
                            <img th:src="@{/assets/default_movie_thumbnail.webp}">
                        </a>
                        <h3 class="mt-3 mb-2">Tiêu đề phim</h3>
                    </div>
                    <div class="col-2 card-item">
                        <a href="#">
                            <img th:src="@{/assets/default_movie_thumbnail.webp}">
                        </a>
                        <h3 class="mt-3 mb-2">Tiêu đề phim</h3>
                    </div>
                    <div class="col-2 card-item">
                        <a href="#">
                            <img th:src="@{/assets/default_movie_thumbnail.webp}">
                        </a>
                        <h3 class="mt-3 mb-2">Tiêu đề phim</h3>
                    </div>
                    <div class="col-2 card-item">
                        <a href="#">
                            <img th:src="@{/assets/default_movie_thumbnail.webp}">
                        </a>
                        <h3 class="mt-3 mb-2">Tiêu đề phim</h3>
                    </div>
                    <div class="col-2 card-item">
                        <a href="#">
                            <img th:src="@{/assets/default_movie_thumbnail.webp}">
                        </a>
                        <h3 class="mt-3 mb-2">Tiêu đề phim</h3>
                    </div>
                </div>
            </div>
        </section>
        <section class="pt-4 pb-4">
            <div class="container">
                <div class="section-title">
                    <div class="section-title d-flex justify-content-between">
                        <h2>Tin tức</h2>
                        <a class="nav-link text-primary" href="#">Xem thêm</a>
                    </div>
                    <div class="row mt-3">
                        <div class="col-6 mb-4">
                            <a class="nav-link d-flex bg-light card-new" href="#">
                                <img th:src="@{/assets/default_movie_thumbnail.webp}" alt="IMAGE">
                                <div class="card-content d-flex flex-column justify-content-around p-3">
                                    <div>
                                        <h3>Top phim anime hay nhất mọi thời đại</h3>
                                        <p class="fst-italic">12/03/2025</p>
                                    </div>
                                    <p class="mb-0 text-truncate">
                                        Là một trong những bộ anime nổi tiếng nhất, 
                                        Đảo Hải Tặc đem đến câu chuyện cuốn hút tới "quên ăn quên ngủ" về 
                                        cuộc truy tìm kho báu One Piece của Vua Hải Tặc huyền thoại.
                                    </p>
                                </div>
                            </a>
                        </div>
                        <div class="col-6 mb-4">
                            <a class="nav-link d-flex bg-light card-new" href="#">
                                <img th:src="@{/assets/default_movie_thumbnail.webp}" alt="IMAGE">
                                <div class="card-content d-flex flex-column justify-content-around p-3">
                                    <div>
                                        <h3>Top phim anime hay nhất mọi thời đại</h3>
                                        <p class="fst-italic">12/03/2025</p>
                                    </div>
                                    <p class="mb-0 text-truncate">
                                        Là một trong những bộ anime nổi tiếng nhất, 
                                        Đảo Hải Tặc đem đến câu chuyện cuốn hút tới "quên ăn quên ngủ" về 
                                        cuộc truy tìm kho báu One Piece của Vua Hải Tặc huyền thoại.
                                    </p>
                                </div>
                            </a>
                        </div>
                        <div class="col-6 mb-4">
                            <a class="nav-link d-flex bg-light card-new" href="#">
                                <img th:src="@{/assets/default_movie_thumbnail.webp}" alt="IMAGE">
                                <div class="card-content d-flex flex-column justify-content-around p-3">
                                    <div>
                                        <h3>Top phim anime hay nhất mọi thời đại</h3>
                                        <p class="fst-italic">12/03/2025</p>
                                    </div>
                                    <p class="mb-0 text-truncate">
                                        Là một trong những bộ anime nổi tiếng nhất, 
                                        Đảo Hải Tặc đem đến câu chuyện cuốn hút tới "quên ăn quên ngủ" về 
                                        cuộc truy tìm kho báu One Piece của Vua Hải Tặc huyền thoại.
                                    </p>
                                </div>
                            </a>
                        </div>
                        <div class="col-6 mb-4">
                            <a class="nav-link d-flex bg-light card-new" href="#">
                                <img th:src="@{/assets/default_movie_thumbnail.webp}" alt="IMAGE">
                                <div class="card-content d-flex flex-column justify-content-around p-3">
                                    <div>
                                        <h3>Top phim anime hay nhất mọi thời đại</h3>
                                        <p class="fst-italic">12/03/2025</p>
                                    </div>
                                    <p class="mb-0 text-truncate">
                                        Là một trong những bộ anime nổi tiếng nhất, 
                                        Đảo Hải Tặc đem đến câu chuyện cuốn hút tới "quên ăn quên ngủ" về 
                                        cuộc truy tìm kho báu One Piece của Vua Hải Tặc huyền thoại.
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</body>
<script th:src="@{./js/bootstrap.bundle.min.js}"></script>
</html>