<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách phim</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"/>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-nav">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img class="logo-image" th:src="@{/assets/logo.png}" alt="LOGO">
          </a>
<!--          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">-->
<!--            <span class="navbar-toggler-icon"></span>-->
<!--          </button>-->
          <div class="collapse navbar-collapse navbar-header" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active text-white" aria-current="page" href="#">Trang chủ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#">Phim bộ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#">Phim chiếu rạp</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#">Phim lẻ</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Quốc gia
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Thể loại
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#">Mua phim</a>
              </li>
            </ul>
          </div>

            <a class="nav-link text-white" href="#">Đăng nhập</a>

        </div>
    </nav>
    <div class="content">
        <div class="container">
            <div class="section-title">
                <h2>Danh sách phim bộ</h2>
            </div>
            <div class="row mt-3 gy-2">
                <div class="col-2 card-item" th:each="seriesMovie : ${seriesMovies}">
                    <a href="#">
                        <img th:src="@{${seriesMovie.thumbnail}}">
                    </a>
                    <h3 class="mt-3 mb-2" th:text="${seriesMovie.name + '/' + seriesMovie.type}"></h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-4 mb-3">
        <nav aria-label="Page navigation example">
            <ul class="pagination d-flex justify-content-center gap-2">
                <!-- Prev -->
                <li class="page-item" th:if="${seriesMovies.number > 0}">
                    <a class="page-link text-dark" th:href="@{/phim-bo(page=${seriesMovies.number - 1})}">
                        <i class="fa-solid fa-caret-left"></i>
                    </a>
                </li>

                <!-- Danh sách trang -->
                <li class="page-item" th:each="num : ${#numbers.sequence(0, seriesMovies.totalPages - 1)}"
                    th:classappend="${num == seriesMovies.number} ? 'active'">
                    <a class="page-link text-dark" th:href="@{/phim-bo(page=${num})}" th:text="${num + 1}"></a>
                </li>

                <!-- Next -->
                <li class="page-item" th:if="${seriesMovies.number < seriesMovies.totalPages - 1}">
                    <a class="page-link text-dark" th:href="@{/phim-bo(page=${seriesMovies.number + 1})}">
                        <i class="fa-solid fa-caret-left fa-rotate-180"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <footer class="bg-footer">
        <div class="container">
            <div class="row pt-5 pb-5">
                <div class="col-4 ps-5 pe-5">
                    <a class="d-flex justify-content-center" href="#">
                        <img class="logo-size-footer" th:src="@{/assets/logo.png}" alt="LOGO">
                    </a>
                    <p class="text-center text-white-50 des-logo-footer"> Motchill - Xem phim Online Vietsub chất lượng cao
                        miễn phí, nhiều thể loại phim phong phú, đặc sắc, giao diện trực quan, 
                        thuận tiện, tốc độ tải nhanh, thường xuyên cập nhật các bộ phim mới.
                    </p>
                </div>
                <div class="col-2">
                    <ul class="d-flex flex-column list-unstyled">
                        <li class="text-white list title-footer mb-3">DANH MỤC</li>
                        <li class="list-footer mb-3">
                            <a class="nav-link text-white" href="#">Phim chiếu rạp</a>
                        </li>
                        <li class="list-footer mb-3">
                            <a class="nav-link text-white" href="#">Tin tức</a>
                        </li>
                        <li class="list-footer mb-3">
                            <a class="nav-link text-white" href="#">Phim bộ</a>
                        </li>
                        <li class="list-footer mb-3">
                            <a class="nav-link text-white" href="#">Phim lẻ</a>
                        </li>
                        <li class="list-footer mb-3">
                            <a class="nav-link text-white" href="#">TV Show</a>
                        </li>
                    </ul>
                </div>
                <div class="col-2">
                    <ul class="d-flex flex-column list-unstyled">
                        <li class="text-white list title-footer mb-3">THỂ LOẠI</li>
                        <li class="list-footer mb-3">
                            <a class="nav-link text-white" href="#">Phim cổ trang</a>
                        </li>
                        <li class="list-footer mb-3">
                            <a class="nav-link text-white" href="#">Phim đam mỹ</a>
                        </li>
                        <li class="list-footer mb-3">
                            <a class="nav-link text-white" href="#">Phim bách hợp</a>
                        </li>
                        <li class="list-footer mb-3">
                            <a class="nav-link text-white" href="#">Phim viễn tưởng</a>
                        </li>
                        <li class="list-footer mb-3">
                            <a class="nav-link text-white" href="#">Phim hoạt hình</a>
                        </li>
                    </ul>
                </div>
                <div class="col-2">
                    <ul class="d-flex flex-column list-unstyled">
                        <li class="text-white list title-footer mb-3">ĐIỀU KHOẢN</li>
                        <li class="list-footer mb-3">
                            <a class="nav-link text-white" href="#">DMCA</a>
                        </li>
                        <li class="list-footer mb-3">
                            <a class="nav-link text-white" href="#">Liên hệ</a>
                        </li>
                        <li class="list-footer mb-3">
                            <a class="nav-link text-white" href="#">Privacy</a>
                        </li>
                        <li class="list-footer mb-3">
                            <a class="nav-link text-white" href="#">Terms of Service</a>
                        </li>
                    </ul>
                </div>
                <div class="col-2">
                    <ul class="d-flex flex-column align-items-center list-unstyled">
                        <li class="text-white list title-footer mb-3">SOCIAL</li>
                        <li class="list-footer mb-3">
                            <a class="nav-link text-white" href="#">
                                <i class="fa-brands fa-square-facebook" style="color: #0517f5;"></i>
                            </a>
                        </li>
                        <li class="list-footer mb-3">
                            <a class="nav-link text-white" href="#">
                                <i class="fa-brands fa-square-twitter" style="color: #226fe1;"></i>
                            </a>
                        </li>
                        <li class="list-footer mb-3">
                            <a class="nav-link text-white" href="#">
                                <i class="fa-brands fa-youtube" style="color: #fe362c;"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>
<script th:src="@{./js/bootstrap.bundle.min.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var seriesMovies = [[${seriesMovies}]];
    var currentPage = [[${seriesMovies.number}]]
    var totalPage = [[${seriesMovies.totalPages}]]
    console.log(seriesMovies)
</script>
</html>