<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[[${movieDetail.name}]]</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"/>
    <!--JS File-->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <div class="modal fade" id="trailer-modal" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex justify-content-center">
                    <iframe width="560" height="315" frameborder="0" allow="fullscreen" th:src="@{${movieDetail.trailer}}"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments/header :: header"></div>
    <div class="content">
        <div class="container">
            <div class="d-flex gap-2 movie-url mb-3 ">
                <a class="nav-link text-primary" th:href="@{/}">Trang chủ</a>
                <p> / </p>
                <a class="nav-link text-primary" th:href="@{{type}(type=${movieDetail.typeUri})}" th:text="${movieDetail.type}"></a>
                <p> / </p>
                <a class="nav-link text-dark" href="#" th:text="${movieDetail.name}"></a>
            </div>
            <div class="row">
                    <div class="col-4 position-relative">
                        <a class="container-image" href="#">
                            <img class="thumbnail-movie-detail" th:src="@{'/api/images/thumbnail/' + ${movieDetail.thumbnail}}" alt="Movie Thumbnail">
                        </a>
                        <div class="position-absolute bottom-0 start-0 end-0 d-flex justify-content-center align-items-center container-button-trailer">
                            <button type="button" data-bs-toggle="modal" data-bs-target="#trailer-modal" class="button-trailer d-flex justify-content-center align-items-center">
                                <i class="fa-solid fa-circle-play me-2" style="color: #ff0000;"></i>
                                Trailer</button>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="d-flex justify-content-between">
                            <h2 class="title-movie-detail" th:text="${movieDetail.name}"></h2>
                            <div>
                                <span th:text="${movieDetail.rating}"></span>
                                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                            </div>
                        </div>
                        <div class="bg-light p-4 mt-2 radius-6">
                            <div class="row mb-3">
                                <div class="col-3 text-movie-detail">Thể loại</div>
                                <div class="col-9 d-flex flex-wrap">
                                    <th:block th:each="genre, stat : ${movieDetail.genres}">
                                        <a class="nav-link text-movie-detail" href="#" th:text="${genre.name}"></a>
                                        <span th:if="${stat.index < stat.size - 1}">,&nbsp</span>
                                    </th:block>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-3 text-movie-detail">Năm sản xuất</div>
                                <div class="col-9">
                                    <a class="nav-link text-movie-detail" href="#" th:text="${movieDetail.releaseYear}"></a>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-3 text-movie-detail">Quốc gia</div>
                                <div class="col-9">
                                    <a class="nav-link text-movie-detail" href="#" th:text="${movieDetail.country.name}"></a>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-3 text-movie-detail">Đạo diễn</div>
                                <div class="col-9">
                                    <a class="nav-link text-movie-detail" th:each="director : ${movieDetail.directors}" href="#" th:text="${director.name}"></a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3 text-movie-detail">Diễn viên</div>
                                <div class="col-9 d-flex flex-wrap">
                                    <th:block th:each="actor, stat : ${movieDetail.actors}">
                                        <a class="nav-link text-movie-detail" href="#" th:text="${actor.name}"></a>
                                        <span th:if="${stat.index < stat.size - 1}">,&nbsp</span>
                                    </th:block>
                                </div>
                            </div>
                        </div>
                        <a class="mt-3 btn btn-danger" href="" role="button">Xem Phim</a>
                        <th:block th:if="${isFavorite}">
                            <button class="mt-3 ms-2 btn btn-favorite" th:data-favorite="${isFavorite}" th:data-id="${movieDetail.id}">
                                <i id="heartIcon" class="fa-solid fa-heart" style="color: #ef255c;"></i>
                                <span class="ms-2">Đã thích</span>
                            </button>
                        </th:block>
                        <th:block th:if="${!isFavorite}">
                            <button class="mt-3 ms-2 btn btn-favorite" th:data-favorite="${isFavorite}" th:data-id="${movieDetail.id}">
                                <i class="fa-regular fa-heart" style="color: #ef255c;"></i>
                                <span class="ms-2">Yêu thích</span>
                            </button>
                        </th:block>
                    </div>
            </div>          
        </div>
        <section class="pt-2 mb-2 mt-5">
            <div class="container">
                <div class="section-title">
                    <div class="d-flex flex-wrap">
                        <a class="btn btn-outline-info mb-2 me-2" th:each="episode : ${movieDetail.episodes}" th:href="@{/phim/xem-phim/{slug}/{id}(slug=${movieDetail.slug}, id=${episode.id})}" th:text="${episode.name}"></a>
                    </div>
                </div>
            </div>
        </section>
        <section class="pt-2 pb-4 mt-5">
            <div class="container">
                <div class="section-title">
                    <h2>Nội dung</h2>
                    <p class="text-movie-detail mt-3 p-3 bg-light rounded" th:text="${movieDetail.description}">
                    </p>
                </div>
            </div>
        </section>
        <section class="pt-4 pb-4 mt-5 bg-light">
            <div class="container">
                <div class="section-title d-flex justify-content-between">
                    <h2>Phim đề xuất</h2>
                </div>
                <div class="row mt-3">
                    <div class="col-2 card-item" th:each="relatedMovie : ${relatedMovies}">
                        <a th:href="@{/phim/{slug}(slug=${relatedMovie.slug})}">
                            <img th:src="@{'/api/images/thumbnail/' + ${relatedMovie.thumbnail}}" alt="Movie Thumbnail">
                        </a>
                        <h3 class="mt-3 mb-2" th:text="${relatedMovie.name}"></h3>
                    </div>
                </div>
            </div>
        </section>
        <section class="pt-4 pb-4 ">
            <div class="container">
                <div class="section-title d-flex justify-content-between">
                    <h2>Bình luận</h2>
                </div>
                <div class="">
                    <p class="text-movie-detail">Vui lòng <a href="#">Đăng nhập</a> để viết bình luận</p>
                </div>
                <div class="list-review">
                    <div class="card-review mt-5 mb-5">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex">
                                <img class="avatar" th:src="@{/assets/avatar_default.png}" alt="AVATAR">
                                <div class="d-flex flex-column align-items-start justify-content-around ms-4">
                                    <p class="mb-0 avatar-name">Nguyễn Nhật Anh</p>
                                    <p class="mb-0 text-movie-detail">
                                        <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                        <span>10</span>
                                        <span>/10</span>
                                        <span>&nbsp;Xuất sắc</span>
                                    </p>
                                </div>
                            </div>
                            <p class="text-secondary">20/02/2020</p>
                        </div>
                        <p class="review-content text-secondary mt-3 text-movie-detail">
                            hay, cảnh đẹp, diễn viên nhí quá dễ thương, xuất sắc
                        </p>
                    </div>
                    <div class="card-review mt-5 mb-5">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex">
                                <img class="avatar" th:src="@{/assets/avatar_default.png}" alt="AVATAR">
                                <div class="d-flex flex-column align-items-start justify-content-around ms-4">
                                    <p class="mb-0 avatar-name">Nguyễn Nhật Anh</p>
                                    <p class="mb-0 text-movie-detail">
                                        <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                        <span>10</span>
                                        <span>/10</span>
                                        <span>&nbsp;Xuất sắc</span>
                                    </p>
                                </div>
                            </div>
                            <p class="text-secondary">20/02/2020</p>
                        </div>
                        <p class="review-content text-secondary mt-3 text-movie-detail">
                            hay, cảnh đẹp, diễn viên nhí quá dễ thương, xuất sắc
                        </p>
                    </div>
                    <div class="card-review mt-5 mb-5">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex">
                                <img class="avatar" th:src="@{/assets/avatar_default.png}" alt="AVATAR">
                                <div class="d-flex flex-column align-items-start justify-content-around ms-4">
                                    <p class="mb-0 avatar-name">Nguyễn Nhật Anh</p>
                                    <p class="mb-0 text-movie-detail">
                                        <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                        <span>10</span>
                                        <span>/10</span>
                                        <span>&nbsp;Xuất sắc</span>
                                    </p>
                                </div>
                            </div>
                            <p class="text-secondary">20/02/2020</p>
                        </div>
                        <p class="review-content text-secondary mt-3 text-movie-detail">
                            hay, cảnh đẹp, diễn viên nhí quá dễ thương, xuất sắc
                        </p>
                    </div>
                    <div class="card-review mt-5 mb-5">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex">
                                <img class="avatar" th:src="@{/assets/avatar_default.png}" alt="AVATAR">
                                <div class="d-flex flex-column align-items-start justify-content-around ms-4">
                                    <p class="mb-0 avatar-name">Nguyễn Nhật Anh</p>
                                    <p class="mb-0 text-movie-detail">
                                        <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                        <span>10</span>
                                        <span>/10</span>
                                        <span>&nbsp;Xuất sắc</span>
                                    </p>
                                </div>
                            </div>
                            <p class="text-secondary">20/02/2020</p>
                        </div>
                        <p class="review-content text-secondary mt-3 text-movie-detail">
                            hay, cảnh đẹp, diễn viên nhí quá dễ thương, xuất sắc
                        </p>
                    </div>
                    <div class="card-review mt-5 mb-5">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex">
                                <img class="avatar" th:src="@{/assets/avatar_default.png}" alt="AVATAR">
                                <div class="d-flex flex-column align-items-start justify-content-around ms-4">
                                    <p class="mb-0 avatar-name">Nguyễn Nhật Anh</p>
                                    <p class="mb-0 text-movie-detail">
                                        <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                        <span>10</span>
                                        <span>/10</span>
                                        <span>&nbsp;Xuất sắc</span>
                                    </p>
                                </div>
                            </div>
                            <p class="text-secondary">20/02/2020</p>
                        </div>
                        <p class="review-content text-secondary mt-3 text-movie-detail">
                            hay, cảnh đẹp, diễn viên nhí quá dễ thương, xuất sắc
                        </p>
                    </div>
                </div>
            </div>
            <div class="container mt-4 mb-3">
                <nav aria-label="Page navigation example">
                    <ul class="pagination d-flex justify-content-center gap-2">
                      <li class="page-item"><a class="page-link text-dark" href="#"><i class="fa-solid fa-caret-left"></i></a></li>
                      <li class="page-item"><a class="page-link text-dark" href="#">1</a></li>
                      <li class="page-item"><a class="page-link text-dark" href="#">2</a></li>
                      <li class="page-item"><a class="page-link text-dark" href="#">3</a></li>
                      <li class="page-item"><a class="page-link text-dark" href="#"><i class="fa-solid fa-caret-left fa-rotate-180"></i></a></li>
                    </ul>
                </nav>
            </div>
        </section>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</body>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:inline="javascript" type="module" src="/js/movie_detail.js"></script>
</html>