<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Phim yêu thích</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"/>
    <!--JS File-->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <div th:replace="fragments/header :: header"></div>
    <div class="content">
        <div class="container">
            <div class="section-title d-flex justify-content-between">
                <h2>Danh sách phim yêu thích</h2>
                <button id="delete-all" th:if="${favoriteMovies.totalElements > 0}" class="btn btn-danger">Xóa tất cả</button>
            </div>
            <div id="list-favorite-movies" class="row mt-3 gy-2">
                <div class="col-2 card-item position-relative" th:if="${favoriteMovies.totalElements > 0}" th:each="favoriteMovie : ${favoriteMovies}">
                    <a th:href="@{/phim/{slug}(slug=${favoriteMovie.slug})}">
                        <img th:src="@{'/api/images/thumbnail/' + ${favoriteMovie.thumbnail}}" alt="Movie Thumbnail">
                    </a>
                    <h3 class="mt-3 mb-2" th:text="${favoriteMovie.name + '/' + favoriteMovie.type}"></h3>
                    <i th:data-id="${favoriteMovie.id}" class="fa-solid fa-heart-circle-xmark fs-26 position-absolute m-0 p-0 top-10 end-20 remove-favorite" style="color: #ef255c;"></i>
                </div>
                <p class="text-center text-dark-emphasis fs-18" th:unless="${favoriteMovies.totalElements > 0}">Chưa có bộ phim nào</p>
            </div>
        </div>
    </div>
    <div class="container mt-4 mb-3">
        <nav aria-label="Page navigation example">
            <ul class="pagination d-flex justify-content-center gap-2">
                <!-- Prev -->
                <li class="page-item" th:if="${favoriteMovies.number > 0}">
                    <a class="page-link text-dark" th:href="@{/phim-yeu-thich(page=${favoriteMovies.number})}">
                        <i class="fa-solid fa-caret-left"></i>
                    </a>
                </li>

                <!-- Danh sách trang -->
                <li class="page-item" th:if="${favoriteMovies.totalPages > 0}" th:each="num : ${#numbers.sequence(0, favoriteMovies.totalPages - 1)}"
                    th:classappend="${num == favoriteMovies.number} ? 'active'">
                    <a class="page-link text-dark" th:href="@{/phim-yeu-thich(page=${num + 1})}" th:text="${num + 1}"></a>
                </li>

                <!-- Next -->
                <li class="page-item" th:if="${favoriteMovies.number < favoriteMovies.totalPages - 1}">
                    <a class="page-link text-dark" th:href="@{/phim-yeu-thich(page=${favoriteMovies.number + 2})}">
                        <i class="fa-solid fa-caret-left fa-rotate-180"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</body>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var favoriteMovies = [[${favoriteMovies}]];
    var currentPage = [[${favoriteMovies.number + 1}]]
    var totalPage = [[${favoriteMovies.totalPages}]]
</script>
<script th:inline="javascript" type="module" src="/js/movies_favorite.js"></script>
</html>